name: go
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: ["1.24", "1.23", "1.22", "1.21", "1.20"]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.version }}
      - name: Update go.mod for compatibility
        shell: bash
        run: |
          # Modify go.mod to use the current test version
          if [ "$RUNNER_OS" == "Windows" ]; then
            powershell -Command "(Get-Content go.mod) -replace '^go \d+\.\d+(\.\d+)?', 'go ${{ matrix.version }}' | Set-Content go.mod"
          else
            sed -i.bak -E "s/^go [0-9]+\.[0-9]+(\.[0-9]+)?/go ${{ matrix.version }}/" go.mod
          fi
          cat go.mod
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v ./...
      - name: Test with the Go CLI
        run: go test ./...
